---
whiskers:
  version: "^2.5.0"
  matrix:
    - flavor
    - accent
  filename: "themes/evergarden-{{ flavor.identifier }}-{{ accent }}"
  hex_format: "#{{r}}{{g}}{{b}}"
---
{% set accent = flavor.colors[accent] %}
background-color={{ base.hex }}
text-color={{ text.hex }}
border-color={{ accent.hex }}
progress-color=over {{ surface0.hex }}

[urgency=low]
border-color={{ overlay2.hex }}

[urgency=high]
border-color={{ red.hex }}
